<%= content_for :body_class, " education " %>
<% content_for :top_info do %>
	<%= render :partial => '/layouts/phones' %>
	<%= image_tag "men_with_guns.png", :class => 'men_with_guns_img' %>
<% end -%>

<div class='legend'>
	Подготовка специалистов в области личной охраны по различным программам;
</div>

<div class='title'>
В России деятельность частных охранников, к которым относятся и лица, оказывающие услуги по личной охране (телохранители), регулируется Законами РФ. В России деятельность частных охранников, к которым относятся и лица, оказывающие услуги по личной охране (телохранители), регулируется Законами РФ. В России деятельность частных охранников, к которым относятся и лица, оказывающие услуги по личной охране (телохранители), регулируется Законами РФ.В России деятельность частных охранников, к которым относятся и лица, оказывающие услуги по личной охране (телохранители), регулируется Законами РФ. В России деятельность частных охранников, к которым относятся и лица, оказывающие услуги по личной охране (телохранители), регулируется Законами РФ.
</div>











<ul class='list'>
	<% list = [
		{
			:item => "Подготовка охранников и инкассаторов;",
			:content => "Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов Подготовка охранников и инкассаторов "
		},
		{
			:item => "Специализированные курсы и семинары по всем навыкам телохранителя;",
			:content => ""
		},
		{
			:item => "Постоянный тренинг сотрудников персональной охраны, как на базе Академии, так и на территории Заказчика;",
			:content => ""
		},
		{
			:item => "Легководолазная подготовка сотрудников личной охраны (водолаз-телохранитель);",
			:content => ""
		},
		{
			:item => "Подготовка и обучение групп ГБР (групп быстрого реагирования);",
			:content => ""
		},
		{
			:item => "Подготовка поисково-патрульных группы по охране удаленных коммуникаций и объектов;",
			:content => ""
		},
		{
			:item => "Подготовка команд морского сопровождения и охраны;",
			:content => ""
		},
		{
			:item => "Подготовка сотрудников антитеррористических подразделений и разведывательных подразделений министерства обороны;",
			:content => ""
		},
		{
			:item => "Специальная альпиниская подготовка разведывательных и антитеррористических подразделений;",
			:content => ""
		},
		{
			:item => "Специализированные курсы по выживанию в горно-лесистой местности.",
			:content => ""
		}
		
		] %>
		
		<% list.each do |item| %>
			<li>
				- 
				<%= link_to item[:item], '#', :class => 'item' %>
				<%= content_tag :div, item[:content], :class => "text hidden" %>
			</li>
		<% end -%>

</ul>
