<%= content_for :body_class, " events " %>

<% content_for :top_info do %>
  <%= image_tag 'events.jpg' %>
<% end -%>


<%= link_to('Add news', new_event_path) if user_signed_in? %>

<ul>
  <% @events.each do |event| %>
  	<li>
  		<%= link_to event.title, event %>
  		<% for_admin do %>
		    <%= link_to image_tag('pencil.png'), edit_event_path(event) %>
		    <%= link_to image_tag('delete.png'), event, :confirm => 'Удалить новость?', :method => :delete %> 
			<% end -%>
			
  	</li>
  <% end -%>
</ul>
