<%= content_for :body_class, " events " %>

<%= link_to('Add news', new_event_path) if user_signed_in? %>

<ul class='list'>
  <% @events.each do |event| %>
  	<li>
  		<%= link_to date_format(event.created_at), '#', :class => 'item date' %>
  		<%= link_to event.title, '#', :class => 'item' %>
  		<% for_admin do %>
		    <%= link_to image_tag('pencil.png'), edit_event_path(event) %>
		    <%= link_to image_tag('delete.png'), event, :confirm => 'Удалить новость?', :method => :delete %> 
			<% end -%>
			
			<div class='text hidden'>
    		<%= textilize(event.body) %>
			</div>
  	</li>
  <% end -%>
</ul>
