<%= content_for :body_class, " show_gallery " %>


<% content_for :gallery_content do %>

	<%= content_tag :div, date_format(@gallery.created_at) %>
	<%= content_tag :div, h(@gallery.name), :class => 'gallery_name legend' %>

	<% for_admin do %>
		<%= link_to 'Add Photo', new_gallery_photo_path(@gallery) if @gallery %>
	<% end -%>

	<% content_tag :div, :class => 'photos' do %>
		<% @photos.each do |photo| %>
			<% content_tag :div, :class => 'item' do %>
				<%= link_to image_tag(photo.avatar.url(:medium)), "#", :class => 'jqModal start_gallery', :photo_id => photo.id %>
				<% for_admin do %>
          <% content_tag :div do %>
            <%= link_to image_tag('pencil.png'), edit_gallery_photo_path(photo.photoable, photo) %>
            <%= link_to(image_tag('delete.png'), gallery_photo_path(photo.photoable, photo), :confirm => 'Удалить фотограйию?', :method => :delete) %>
          <% end -%>
				<% end -%>
			<% end -%>
		<% end -%>
	<% end -%>

<% end -%>

<% content_tag :div, :class => "jqmWindow", :id => "show_photo_dialog" do %>
	<%= link_to  'Закрыть', "#", :class => 'close_dialog' %>
	<div class="ad-gallery">
	  <div class="ad-image-wrapper">
	  </div>
	  <div class="ad-controls">
	  </div>
	  <div class="ad-nav">
	    <div class="ad-thumbs">
	      <ul class="ad-thumb-list">
					<% @photos.each do |photo| %>
		        <li>
	            <%= link_to image_tag(photo.avatar.url(:medium)), photo.avatar.url(:big), :id => "photo_#{photo.id}" %>
		        </li>
					<% end -%>
	      </ul>
	    </div>
	  </div>
	</div>
<% end -%>


<%= render :partial => 'content' %>
