<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>BAU</title>
		<%= formtastic_stylesheet_link_tag %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'jqModal' %>
		<%= stylesheet_link_tag 'jquery.ad-gallery' %>
    <%= stylesheet_link_tag 'application' %>

  </head>
  <body class="<%= yield :body_class %>">
		<%= admin_top_menu %>
		<% single_line_container do %>
			<% content_tag :div, :class => 'top_menu' do %>
				<% single_line_container do %>
					<%= link_to image_tag("logo.png"), root_path, :class => 'logo_link' %>
					<%= content_tag :div, top_menu, :class => 'top_menu_links' %>
				<% end %>		
			<% end %>
			<% content_tag :div, :class => "top_info" do %>
				<%=  yield :top_info %>
			<% end -%>
		<% end -%>		
		
		<% single_line_container do %>
			
			<% left_hi_image =  yield(:left_hi) || 'wish_health.png' %>
			<%= image_tag left_hi_image, :class => 'left_hi' %>
		
			<% content_tag :div, :class => 'content' do %>
				<%= content_tag :span, flash[:notice], :class => 'success_note' %>
				<%= content_tag :span, flash[:alert], :class => 'error_note' %>
		    <%= yield %>
			<% end -%>
		<% end -%>

    <% content_tag :div, :class => 'basement' do %>
			<%= content_tag :div, 'BAUkraine.com', :class => 'line' %>
    <% end %>

    <%= render "layouts/include_all_jquery" %>
    <%= javascript_include_tag "application.js"%>
  </body>
</html>
