<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name='yandex-verification' content='40ef5b039d394890' />
    <title>BAU</title>
		<%= formtastic_stylesheet_link_tag %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'jqModal' %>
		<%= stylesheet_link_tag 'jquery.ad-gallery' %>
		<%= stylesheet_link_tag 'highslide' %>
    <%= stylesheet_link_tag 'application' %>

  </head>
  <body class="<%= yield :body_class %>">
    <div class=main>
				<%= content_tag :div, 'NBPL', :class => 'plashka' %>
    		<%= admin_top_menu %>
				<% single_line_container do %>
					<%= link_to image_tag("logo.png"), root_path, :class => 'logo_link' %>
					<div class='slogan'>
					  <%= render :partial => '/layouts/slogan' %>
					</div>
				<% end %>
						
				<%=  content_tag :div, top_menu, :class => "top_menu" %>

  			<% content_tag :div, :class => "top_info" do %>
  				<%=  yield(:top_info) || image_tag('photo_main.png') %>
  			<% end -%>
		
		    <% content_tag :div, :class => 'content_wrapper' do %>
    			<% content_tag :div, :class => 'content' do %>
    				<%= content_tag :span, flash[:notice], :class => 'success_note' %>
    				<%= content_tag :span, flash[:alert], :class => 'error_note' %>
    		    <%= yield %>
    			<% end -%>
  			<% end -%>

      <%= render :partial => '/layouts/basement' %>
    </div>

    <%= render "layouts/include_all_jquery" %>
    <%= javascript_include_tag "application.js"%>
    
    <!-- Yandex.Metrika counter -->
    <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter2665669 = new Ya.Metrika(2665669);
                 yaCounter2665669.clickmap(true);
                 yaCounter2665669.trackLinks(true);

            } catch(e) {}
        });
    })(window, 'yandex_metrika_callbacks');
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/2665669" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
  </body>
</html>
